.btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: 0;
  border-radius: var(--border-radius-100);
  font-size: var(--fz-400);
  font-weight: 700;
  cursor: pointer;

  transition: var(--transition);

  &:hover {
    transform: translateY(-3px);
  }

  &.primary {
    background-color: var(--color-primary-500);
    color: var(--color-primary-100);

    &:hover {
      background-color: var(--color-primary-100);
      color: var(--color-primary-500);
    }
  }
}
