.btn {
  padding: 0.25rem 1rem;
  outline: none;
  border: 0;
  border-radius: var(--border-radius-100);
  cursor: pointer;

  transition: var(--transition);

  &:hover {
    transform: translateY(-3px);
  }

  &.primary {
    background-color: var(--color-primary-500);
  }
}
