:root {
  --color-surface-100: hsl(0, 0%, 30%);
  --color-surface-200: hsl(0, 0%, 40%);
  --color-surface-300: hsl(0, 0%, 73%);
  --color-surface-400: hsl(0, 0%, 79%);
  --color-surface-500: hsl(0, 0%, 81%);
  --color-surface-600: hsl(0, 0%, 86%);
  --color-surface-700: hsl(0, 0%, 88%);
  --color-surface-800: hsl(0, 0%, 89%);
  --color-surface-900: hsl(0, 0%, 90%);
  --color-surface-1000: hsl(0, 0%, 93%);

  --color-text-100: hsl(0, 0%, 5%);
  --color-text-200: hsl(0, 0%, 10%);
  --color-text-300: hsl(0, 0%, 15%);
  --color-text-400: hsl(0, 0%, 20%);
  --color-text-500: hsl(0, 0%, 30%);
  --color-text-600: hsl(0, 0%, 40%);
  --color-text-700: hsl(0, 0%, 50%);
  --color-text-800: hsl(0, 0%, 60%);
  --color-text-900: hsl(0, 0%, 70%);
  --color-text-1000: hsl(0, 0%, 80%);
}

:root[data-theme="dark"] {
  --color-surface-100: hsl(0, 0%, 70%);
  --color-surface-200: hsl(0, 0%, 60%);
  --color-surface-300: hsl(0, 0%, 27%);
  --color-surface-400: hsl(0, 0%, 21%);
  --color-surface-500: hsl(0, 0%, 19%);
  --color-surface-600: hsl(0, 0%, 14%);
  --color-surface-700: hsl(0, 0%, 12%);
  --color-surface-800: hsl(0, 0%, 11%);
  --color-surface-900: hsl(0, 0%, 10%);
  --color-surface-1000: hsl(0, 0%, 7%);

  --color-text-100: hsl(0, 0%, 100%);
  --color-text-200: hsl(0, 0%, 95%);
  --color-text-300: hsl(0, 0%, 90%);
  --color-text-400: hsl(0, 0%, 85%);
  --color-text-500: hsl(0, 0%, 75%);
  --color-text-600: hsl(0, 0%, 65%);
  --color-text-700: hsl(0, 0%, 55%);
  --color-text-800: hsl(0, 0%, 45%);
  --color-text-900: hsl(0, 0%, 35%);
  --color-text-1000: hsl(0, 0%, 25%);
}

:root {
  --color-primary-100: hsl(200, 51%, 93%);
  --color-primary-200: hsl(200, 88%, 91%);
  --color-primary-300: hsl(200, 84%, 83%);
  --color-primary-400: hsl(200, 81%, 73%);
  --color-primary-500: hsl(200, 75%, 61%);
  --color-primary-600: hsl(200, 62%, 49%);

  --color-danger-100: hsl(0, 51%, 93%);
  --color-danger-200: hsl(0, 88%, 91%);
  --color-danger-300: hsl(0, 84%, 83%);
  --color-danger-400: hsl(0, 81%, 73%);
  --color-danger-500: hsl(0, 75%, 61%);
  --color-danger-600: hsl(0, 62%, 49%);

  --color-success-100: hsl(130, 51%, 93%);
  --color-success-200: hsl(130, 88%, 91%);
  --color-success-300: hsl(130, 84%, 83%);
  --color-success-400: hsl(130, 81%, 73%);
  --color-success-500: hsl(130, 75%, 61%);
  --color-success-600: hsl(130, 62%, 49%);

  --color-nuetral-100: hsl(0, 0%, 70%);
  --color-nuetral-200: hsl(0, 0%, 60%);
  --color-nuetral-300: hsl(0, 0%, 27%);
  --color-nuetral-400: hsl(0, 0%, 21%);
  --color-nuetral-500: hsl(0, 0%, 19%);
  --color-nuetral-600: hsl(0, 0%, 14%);
  --color-nuetral-700: hsl(0, 0%, 12%);
  --color-nuetral-800: hsl(0, 0%, 11%);
  --color-nuetral-900: hsl(0, 0%, 10%);
  --color-nuetral-1000: hsl(0, 0%, 7%);

  --color-shade-100: hsl(200, 65%, 32%);
  --color-shade-200: hsl(200, 65%, 24%);
  --color-shade-300: hsl(200, 66%, 16%);
  --color-shade-400: hsl(200, 65%, 12%);
  --color-shade-500: hsl(200, 66%, 8%);
  --color-shade-600: hsl(200, 62%, 4%);

  --color-border-100: hsl(0 0% 100% / 10%);
  --color-border-200: hsl(0 0% 100% / 20%);
  --color-border-300: hsl(0 0% 100% / 30%);
  --color-border-400: hsl(0 0% 100% / 40%);
  --color-border-500: hsl(0 0% 100% / 50%);
}
