main#content {
  .problems-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-block-end: 2rem;

    a {
      background-color: var(--color-surface-400);
      padding: 1rem;
      border-radius: var(--border-radius-100);
      font-size: var(--fz-500);
      font-weight: 700;

      transition: var(--transition);

      &:hover {
        background-color: var(--color-primary-500);
      }
    }
  }
}
